{% extends "default.html" %}
{% block body %}
    <h2>Welcome</h2>
    <div>
        <H3>Specify feedback range here:</H3>
        <br>
        <form name="fb_submit"action="" method="post">
          <dl>
            <p>Sort by Category</p>
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea name="comment_field" class="form-control" rows="5" id="comment"></textarea>
              </div>
          </dl>
          <p><input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
