{% extends "default.html" %}
{% block body %}
    <div>
        <H3>How satisfied were you with the:</H3>
        <br>
        <form name="fb_submit"action="" method="post">
          <dl>

            <p>Food?</p>
            <input type="number" name="food_rating" data-max="5" data-empty-value="0" data-min="1" id="some_id" class="rating" data-clearable="remove"/>
            <br>
            <p>Service?</p>
            <input type="number" name="service_rating" data-max="5" data-empty-value="0" data-min="1" id="some_id" class="rating" data-clearable="remove"/>
            <br>
            <p>Ambience?</p>
            <input type="number" name="ambience_rating" data-max="5" data-empty-value="0" data-min="1" id="some_id" class="rating" data-clearable="remove"/>
            <br>
            <p>Cleanliness?</p>
            <input type="number" name="clean_rating" data-max="5" data-empty-value="0" data-min="1" id="some_id" class="rating" data-clearable="remove"/>
            <br>
            <p>Overall Dining Experience?</p><input type="number" name="overall_rating" data-max="5" data-empty-value="0" data-min="1" id="some_id" class="rating" data-clearable="remove"/>
            <hr width=100% align=left size=10>
              <div class="form-group">
                <label for="comment">Additional Comments:</label>
                <textarea name="comment_field" class="form-control" rows="5" id="comment"></textarea>
              </div>
          </dl>
          <style>
          dl > p{
            font-weight:bold;
            margin-bottom:0px;
          }
          </style>
          <script src="/static/js/bootstrap-rating-input.min.js" type="text/javascript"></script>
          <p><input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
