{% extends "default.html" %}
{% block body %}
    <h2>Welcome</h2>
    <div>
        <H3>Specify feedback range here:</H3>
        <br>
        <form name="fb_search"action="" method="post" onsubmit="return validateForm()">
          <dl>
            <p>Sort by Category</p>
              <select name="dropdown">
                <option value="Show All" selected>Show All</option>
                <option value="Good">Good</option>
                <option value="Bad">Bad</option>
                <option value="Mixed">Mixed</option>
                <option value="Food">Food</option>
                <option value="Service">Service</option>
                <option value="Exception">Exception</option>
              </select>
              <div class='checkbox'>
                <label><input type="checkbox" name="wordcloud" value="1" checked="checked">Word Cloud</label>
              </div>
            <dt>{{ form.date_time_from.label}}
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' name='datetimefrom' class="form-control"/>
                  {% if form.date_time_from.errors %}
                    <ul class=errors>
                  {% for error in form.date_time_from.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                    </ul>
                  {% endif %}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            
            <dt>{{ form.date_time_to.label }}
              <div class='input-group date' id='datetimepicker2'>
                <input type='text' name='datetimeto' class="form-control"/>
                  {% if form.date_time_to.errors %}
                    <ul class=errors>
                  {% for error in form.date_time_to.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                    </ul>
                  {% endif %}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
          </dl>
          <p><input type="submit" value="Search" >
        </form>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
                $('#datetimepicker1').datetimepicker();
            });
            function validateForm() {
                var x = document.forms["fb_search"]["datetimefrom"].value;
                if (x == "") {
                    alert("date-time must be filled out");
                    return false;
                }
                x = document.forms["fb_search"]["datetimeto"].value;
                if (x == "") {
                    alert("date-time must be filled out");
                    return false;
                }
            }
        </script>
        <style>
          #wordcloud {
              font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
          }
          .legend {
              border: 1px solid #555555;
              border-radius: 5px 5px 5px 5px;
              font-size: 0.8em;
              margin: 10px;
              padding: 8px;
          }
          .bld {
              font-weight: bold;
          }
        </style>
          <div id= "wordcloud">
          </div>
        <p id="demo">
        </p>
        <script type="text/javascript">
                // word cloud implementation by Eric Cooper http://bl.ocks.org/ericcoopey/6382449
        var frequency_list = JSON.parse('{{word_freq | safe}}');
        var max = parseInt('{{max_freq}}');
        var domain_val = [Math.ceil(max*.1),Math.ceil(max*.2), Math.ceil(max*.3), Math.ceil(max*.4), Math.ceil(max*.5), Math.ceil(max*.6), Math.ceil(max*.7), Math.ceil(max*.8), Math.ceil(max*.9), max];
        var color = d3.scale.linear()
                .domain([0,6,10,15,20,30,40,50,65,80,100])
                .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);
        d3.layout.cloud().size([800, 300])
                .words(frequency_list)
                .rotate(0)
                .fontSize(function(d) { return d.size; })
                .on("end", draw)
                .start();

        function draw(words) {
            d3.select("#wordcloud").append("svg")
                    .attr("width", 850)
                    .attr("height", 350)
                    .attr("class", "wordcloud")
                    .append("g")
                    // without the transform, words words would get cutoff to the left and top, they would
                    // appear outside of the SVG area
                    .attr("transform", "translate(320,200)")
                    .selectAll("text")
                    .data(words)
                    .enter().append("text")
                    .style("font-size", function(d) { return d.size + "px"; })
                    .style("fill", function(d, i) { return color(i); })
                    .attr("transform", function(d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
        }
        </script>

        This is the page for displaying feedback
        Here is a list of the feedback made
        <br>
        {{table}}

        <br>
    </div>
{% endblock %}
