{% extends "default.html" %}
{% block body %}
    <h2>Feedback Management</h2>
    <div>
        <H3>Specify feedback range here:</H3>
        <br>
        <form name="fb_search"action="" method="post" onsubmit="return validateForm()">
          <dl>
            <p>Sort by Category</p>
              <select name="dropdown">
                <option value="Show All" selected>Show All</option>
                <option value="Good">Good</option>
                <option value="Bad">Bad</option>
                <option value="Mixed">Mixed</option>
                <option value="Food">Food</option>
                <option value="Service">Service</option>
                <option value="Exception">Exception</option>
              </select>
              <div class='checkbox'>
                <label><input type="checkbox" name="wordcloud" value="1" checked="checked">Word Cloud</label>
              </div>
            <dt>{{ form.date_time_from.label}}
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' name='datetimefrom' class="form-control"/>
                  {% if form.date_time_from.errors %}
                    <ul class=errors>
                  {% for error in form.date_time_from.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                    </ul>
                  {% endif %}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            
            <dt>{{ form.date_time_to.label }}
              <div class='input-group date' id='datetimepicker2'>
                <input type='text' name='datetimeto' class="form-control"/>
                  {% if form.date_time_to.errors %}
                    <ul class=errors>
                  {% for error in form.date_time_to.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                    </ul>
                  {% endif %}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
          </dl>
          <p><input type="submit" value="Search" >
        </form>

        <script type="text/javascript">
        var currentDate = new Date();
        var two_m_ago = new Date().setMonth((currentDate.getMonth()-2));
        $("#datetimepicker2").datetimepicker({defaultDate: currentDate});
        $("#datetimepicker1").datetimepicker({defaultDate: two_m_ago});
            $(function () {
                $('#datetimepicker2').datetimepicker();
                $('#datetimepicker1').datetimepicker();
            });
            function validateForm() {
                var x = document.forms["fb_search"]["datetimefrom"].value;
                if (x == "") {
                    alert("datetime must be filled out");
                    return false;
                }
                x = document.forms["fb_search"]["datetimeto"].value;
                if (x == "") {
                    alert("datetime must be filled out");
                    return false;
                }
            }
        </script>

        {% if wordcloud == True%}
            <div id= "wordcloud">
            </div>
          
          <script type="text/javascript">
          //now.format("dd/MM/yyyy hh:mm TT");
          try{
            var words = JSON.parse('{{word_freq | safe}}');
            var max = parseInt('{{max_freq}}');
          }
          catch(err){
            console.log("no words given for wordcloud");
          }
          // Word Cloud implementation by http://mistic100.github.io/jQCloud/
          $('#wordcloud').jQCloud(words, {
            autoResize: true
          });
          </script>
        {% endif %}

        This is the page for displaying feedback
        Here is a list of the feedback made
        <br>
        {{table}}

        <br>
    </div>
{% endblock %}
