{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(class="form-control", **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_field_date(field) %}
<dt>{{ field.label }}
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name = "start"/>
                      {% if field.errors %}
                      <ul class=errors>
                      {% for error in field.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                      {% endif %}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
{% endmacro %}