<div class="col-md-3">
    <header>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class=""><a href="/">Home</a></li>
            <li role="presentation" class=""><a href="/dashboard">Dashboard</a></li>
            <li role="presentation" class=""><a href="/feedbackM">Feedback Management</a></li>
            <li role="presentation" class=""><a href="/reservationH">Reservation Host</a></li>
            <li role="presentation" class=""><a href="/table_manager">Table Management</a></li>
            <li role="presentation" class=""><a href="/prediction">Prediction</a></li>
        </ul>
    </header>
</div>