.td-none {
    text-decoration: none;
}

.bg-gray-lighter {
	background-image: url('/static/img/website_background_brighter.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.col-md-3 {
	background-color: #D3E1E4;
	
}

.spaced-table-col {
	padding-left: 2px !important;
	padding-right: 2px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	border: 1px solid black !important;
}

prediction-table {
	border: 1px solid black;
}